name: Release Extension
on:
  push:
    tags:
      - 'v*'
jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build extension
        run: npm run build
      - name: Package extension for release
        id: package_extension
        run: |
          ZIP_FILE_NAME="./sold-by-amazon-filter-extension-${GITHUB_REF_NAME}.zip"
          zip -r "${ZIP_FILE_NAME}" dist manifest.json LICENSE README.md
          echo "zip_file_name=${ZIP_FILE_NAME}" >> $GITHUB_OUTPUT
      - name: Create and Upload Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ZIP_FILE_NAME=${{ steps.package_extension.outputs.zip_file_name }}
          TAG_NAME=${{ github.ref_name }}

          gh release create "${TAG_NAME}" \
            --generate-notes \
            --draft=false \
            --prerelease=false \
            "${ZIP_FILE_NAME}"
